{{#is "post, page, tag"}}<div class="back-block"><a class="back" href="{{@blog.url}}">&lt;&nbsp;&nbsp;Back to Index</a></div>{{/is}}
<a href="http://sameroom.io"><img class="same-o-matic" src="{{asset "img/logo.png"}}" width="75" height="75" alt="same-o-matic"></a>
<p>Need to connect a room in HipChat to one in Campfire? Or want to give fans a simple way to link to your Slack?</p>
<p>
    Sameroom does that!<br>
    <a href="http://sameroom.io">Learn more</a>
</p>
<p><a class="icon-feed link-feed" href="{{@blog.url}}/rss/">&nbsp;Subscribe via RSS</a></p>
