<form method="post" class="subscribe-form" action="#">
    <input type="text" maxlength="100" placeholder="Email" class="email"><button class="yellow">Subscribe</button>
    <div id="subscribeStatus"></div>
</form>